
@import url("https://res.cloudinary.com/dfmw9ho24/raw/upload/v1784492399/TESLA_a39iwn.ttf");

@font-face {
    font-family: "tesla";
    src: url("https://res.cloudinary.com/dfmw9ho24/raw/upload/v1784492399/TESLA_a39iwn.ttf");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
   
    
}

.preta{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    pointer-events: none !important;
}



section{
    width: 100%;
    height: 100%;
    background-color: #dedede;
    padding: 1vw;
    -webkit-mask-image: url(assets/tesla.svg);
    mask-repeat: no-repeat;
    mask-size:1000% ;
    mask-position: center;
    position: relative;

}

header{
    width: 100%;
    position: absolute;
    z-index: 12;
    padding:1.5vw;
    display: flex;
    justify-content: space-between;
    
    h1{
        font-family: "tesla";
        font-size: 1.7vw;
        letter-spacing: .2em;
        text-align: start;
        
    }
    .logins{
        width: 27%;
        display: flex;
        justify-content: center;
        gap:4%;
       margin-top: -1.5%;
        

        

        img{
            object-fit: contain;
            height: 3vw;
            cursor: pointer;
            transition: all .5s;
            &:hover{
                transform: translateY(-11px);
            }

        }

        .bt2{
        width: 40%;
        background-color: rgba(0, 0, 0, 0.824);
        border-radius: 40px;
        padding: .3vw .7vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        position: relative;
        transition: all .5s;
        border: .1px solid white;
        backdrop-filter: blur(8px);
        transform: translateY(-10%);

        img{
            width: 1.4vw;
        }
           &:hover{
            transform: translateY(-15px);
           }

        p{
            font-family: sans-serif;
            font-size: .9vw;
            font-weight: 100;
            color: rgb(255, 255, 255);
            text-align: center;
            letter-spacing: .2em;
        }
            &:hover{
                transform: translateY(-11px);
            }
        }

        

        
            



        


    }
}


.container{
width: 100%;
height: 91%;
clip-path: url(#formato); 
display: flex;
align-items: center;
justify-content:space-around;
flex-direction: row-reverse;
overflow: hidden;

video{
    object-fit: contain;
    position: absolute;
    width: 100%;
    object-position: right;
    opacity: 4;
}
}


.conteudoEsquerda{
    background-color: rgba(124, 124, 124, 0);
    width: 30%;
    margin-bottom: 33.5%;
    z-index: 2;
    padding: 2px;
    overflow: hidden;
    border-radius: 20px ;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: start;
    backdrop-filter: blur(20px); 
    position: relative;
    pointer-events: none;

    .conteudo{
        padding: 1vw;
    }
    h1{
        margin-top: 15%;
        font-family: "tesla";
        color: #dedede;
        font-size: 4vw;
        font-weight: 200;
        mix-blend-mode: color-dodge;

    }

    p{
        font-family: sans-serif;
        color: #dedede;
        font-size: 1.2em;
        font-weight: 100;
        width: 80%;
        letter-spacing: .3em;
    }

    .bt{
        width: 50%;
        margin-top: 5%;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 40px;
        padding: .6vw .7vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer ;
        position: relative;
        transition: all .5s;
        border: .1px solid white;
        backdrop-filter: blur(8px);
           &:hover{
            transform: translateY(-11px);
           }

        p{
            font-family: sans-serif;
            font-size: 1vw;
            color: rgb(255, 255, 255);
            text-align: center;
        }

        
            
            img{
                width: 2vw;
                object-fit: cover;
            }
        


    }

    .luz{
        width: 15vw;
        height: 15vw;
        border-radius: 247px;
        background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #ec5f22 100%);
        z-index: 1;
        filter: blur(180px);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
    }
}

.conteudoInferior{
    width: 70%;
    z-index: 2;
    padding: 5vw;
    margin-top: 36%;
    
    h1{
        font-family: "tesla";
        font-size: 2vw;
        color: #dedede;
        font-weight: 100;
        letter-spacing: .3em;

    }

    h2{
        font-family: "tesla";
        font-size: 7vw;
        letter-spacing: .1em;
        background: linear-gradient(45deg, #ffdda3, #ff8000);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
       

    }
}


@media (max-width:536px) and (min-width:360px){

    body{
    background-color: #dedede;

    }
    section{
    width: 100%;
    height: 130svh;
    background-color: #dedede;
    padding: 1vw;
    -webkit-mask-image: url(assets/tesla.svg);
    mask-repeat: no-repeat;
    mask-size:1000% ;
    mask-position: center;
    position: relative;
    overflow: visible;

}

header{
    width: 100%;
    position: absolute;
    z-index: 12;
    padding:3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: visible;
    
    h1{
        font-family: "tesla";
        font-size:5.5vw;
        text-align: start;
        margin-top: 7%;
        
    }
    .logins{
        width: 64%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-top: 0%;
        overflow: visible;     


        img{
            object-fit: contain;
            width: 40%;
            height: 5vh;
            cursor: pointer;
            transition: all .5s;
            overflow: visible !important;
            &:hover{
                transform: translateY(-5px);
            }

        }

        .bt2{
        width: 95%;
        background-color: rgba(0, 0, 0, 0.824);
        border-radius: 40px;
        padding: 1.2vw 2.3vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        position: relative;
        transition: all .5s;
        border: .1px solid white;
        backdrop-filter: blur(8px);
        transform: translateY(-10%);
        margin-top: 3%;

        img{
            width: 3vw;
            object-fit: contain;
        }
           &:hover{
            transform: translateY(-15px);
           }

        p{
            font-family: sans-serif;
            font-size: 3vw;
            font-weight: 100;
            color: rgb(255, 255, 255);
            text-align: center;
            letter-spacing: .2em;
        }
            &:hover{
                transform: translateY(-11px);
            }
        }


    }
}

.pin-spacer{
    overflow: hidden;
}

.container{
width: 100%;
height: 72%;
clip-path: url(#formatoMobile); 
display: flex;
align-items: center;
justify-content:space-around;
flex-direction: column;
background-color: black;
overflow: visible;

video{
    object-fit: contain;
    position: absolute;
    width: 100%;
    margin-top: 33%;
    object-position: end;
    opacity: 4;
    pointer-events: none;
}
}


.conteudoEsquerda{
    background-color: rgba(124, 124, 124, 0);
    width: 100%;
    margin-bottom: 23.5%;
    z-index: 2;
    padding: 2px;
    overflow: visible;
    border-radius: 20px ;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: start;
    backdrop-filter: blur(20px); 
    position: relative;
    gap: 5%;

    .conteudo{
        padding: 4vw;
    }
    h1{
        margin-top: 15%;
        font-family: "tesla";
        color: #dedede;
        font-size: 8vw;
        font-weight: 200;
        mix-blend-mode: color-dodge;

    }

    p{
        font-family: sans-serif;
        color: #dedede;
        font-size: 3.5vw;
        font-weight: 100;
        width: 60%;
        letter-spacing: .3em;
    }

    .bt{
        width: 35%;
        margin-top: 5%;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 40px;
        padding: 2.6vw 2.7vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer !important;
        position: relative;
        transition: all .5s;
        border: .1px solid white;
        backdrop-filter: blur(8px);
           &:hover{
            transform: translateY(-11px);
           }

        p{
            font-family: sans-serif;
            font-size: 3vw;
            color: rgb(255, 255, 255);
            text-align: start;
        }

        
            
            img{
                width: 5vw;
                object-fit: cover;
            }
        


    }

    .luz{
        width: 15vw;
        height: 15vw;
        border-radius: 247px;
        background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #ec5f22 100%);
        z-index: 1;
        filter: blur(180px);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
    }
}

.conteudoInferior{
    width: 100%;
    z-index: 2;
    padding: 5vw;
    margin-top: 26%;
    
    h1{
        font-family: "tesla";
        font-size: 3vw;
        color: #dedede;
        font-weight: 100;
        letter-spacing: .3em;
        margin-top: 15%;

    }

    h2{
        font-family: "tesla";
        font-size: 10vw;
        letter-spacing: .1em;
        background: linear-gradient(45deg, #ffdda3, #ff8000);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
       

    }
}
}
